.todolist {
    width: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-break: break-all;
    align-items: stretch;
}

.todolist__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.todolist__inner {
    padding: 0;
    list-style: none;
}

.todolist__item {
    display: flex;
    justify-content: space-between;
}
