.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: rebeccapurple 1px solid;
}

.error-message {
  color: rebeccapurple;
  font-weight: bold;
}

.filter {
  padding: 5px 15px;
}

.active-filter {
  padding: 5px 15px;
  background-color: rebeccapurple;
  color: antiquewhite;
}

.is-done {
  opacity: 0.6;
  text-decoration: line-through;
}
